@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 32, 32, 32;
  --background-end-rgb: 41, 41, 41;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.tableButton{
  cursor: pointer;
  background-color: rgb(12 74 110);
  transition: all .3s;
}

.tableButton:hover{
  background-color: rgb(36, 157, 228);
  transition: all .3s;
}

.timeButton{
  background: rgb(12 74 110);
  border:thin solid rgba(0,0,0,0);
  transition: all .3s;
}

.timeButton:hover{
  background: rgb(36, 157, 228);
  transition: all .3s;
}

.timeButton.active{
  background: rgb(255, 255, 255);
  border:thin solid rgb(12 74 110);
  color:rgb(12 74 110);
  transition: all .3s;
}

/* Tables.css */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.5s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.select2-container .select2-selection {
  @apply px-3 py-2 w-full bg-gray-700 text-white rounded;
  border: 1px solid #4a5568; /* Tailwind color gray-600 */
}

.select2-container .select2-selection--single .select2-selection__rendered {
  color: #e2e8f0; /* Tailwind color gray-300 */
  line-height: 1.5;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 100%;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  margin-top: -10px;
}

.select2-container--default .select2-selection--single {
  background-color: #2d3748!important; /* Tailwind color gray-800 */
  border: 1px solid #4a5568!important; /* Tailwind color gray-600 */
  border-radius: 0.25rem!important; /* Tailwind rounded */
  height: 2.5rem!important; /* Tailwind h-10 */
  display: flex!important;
  align-items: center!important;
}

.select2-dropdown {
  background-color: #2d3748!important; /* Tailwind color gray-800 */
  border: 1px solid #4a5568!important; /* Tailwind color gray-600 */
}

.select2-results__option {
  padding: 0.5rem!important; /* Tailwind p-2 */
  color: #e2e8f0!important; /* Tailwind color gray-300 */
}

.select2-results__option--highlighted {
  background-color: #4a5568!important; /* Tailwind color gray-600 */
  color: white!important;
}

